<mat-toolbar color="primary" class="mat-elevation-z0 sticky-top backdrop-blur-md bg-opacity-90">
  <div class="container mx-auto px-4 py-1 flex items-center justify-between w-full">
    <h1 class="text-lg md:text-xl font-medium truncate">{{ descricao }}</h1>
    
    <div class="flex items-center gap-2">
      <!-- Botões de Ação -->
      <ng-container *ngIf="mostrarBotoesAcao">
        <!-- Botão Gerar Relatório (responsivo) -->
        <button 
          mat-flat-button 
          [class.mat-flat-button]="(innerWidth > 640)"
          [class.mat-mini-fab]="(innerWidth <= 640)"
          color="accent" 
          (click)="onGerarRelatorio()" 
          [disabled]="gerarRelatorioDisabled" 
          matTooltip="Gerar Relatório"
          class="rounded-full items-center gap-1 px-4 py-1"
          [ngClass]="{'sm:flex hidden': innerWidth > 640, 'mat-elevation-z0': innerWidth <= 640}">
          <mat-icon [class.text-sm]="innerWidth > 640">description</mat-icon>
          <span class="font-medium" *ngIf="innerWidth > 640">Gerar Relatório</span>
        </button>
        
        <!-- Botão Limpar Tudo (responsivo) -->
        <button 
          [class.mat-stroked-button]="(innerWidth > 640)"
          [class.mat-icon-button]="(innerWidth <= 640)"
          color="basic" 
          (click)="onLimparTudo()" 
          matTooltip="Limpar Tudo"
          class="items-center"
          [ngClass]="{'rounded-full px-3 flex gap-1': innerWidth > 640}">
          <mat-icon [class.text-sm]="innerWidth > 640" class="flex-shrink-0 flex items-center justify-center">delete_outline</mat-icon>
          <span class="text-sm flex items-center" *ngIf="innerWidth > 640">Limpar</span>
        </button>
      </ng-container>

      <!-- Botão de Configurações -->
      <button 
        mat-icon-button 
        color="basic" 
        (click)="abrirConfiguracoes()" 
        matTooltip="Configurações"
        class="ml-1">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
