/* formulario-precos.css */
.sticky {
  position: sticky;
}

.sticky-top {
  position: sticky !important;
  top: 64px !important;
  z-index: 900 !important;
}

.categoria-nav {
  position: sticky;
  top: 64px;
  z-index: 900;
  background-color: white;
  transition: box-shadow 0.3s ease;
}

/* Classe para aplicar quando a barra está fixa */
.categoria-nav.is-sticky {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

nav[role="tablist"] {
  border-bottom: 1px solid #e5e7eb; /* cor border-gray-200 */
  overflow-x: auto; /* Permite scroll horizontal para muitas tabs */
  -webkit-overflow-scrolling: touch; /* Suporte para scroll suave em iOS */
  white-space: nowrap; /* Evita quebra de linha para os itens da tab */
}

nav[role="tablist"] ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav[role="tablist"] li {
  flex-shrink: 0; /* Impede que os itens da tab encolham */
}

nav[role="tablist"] button {
  padding-bottom: 0.75rem; /* Ajuste para ter espaço para a borda inferior */
  border-bottom: 2px solid transparent; /* Bordas transparentes por padrão */
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav[role="tablist"] button[aria-selected="true"] {
  border-color: #3b82f6; /* cor blue-600 */
}

/* Estilos para o campo de preço */
input[type="number"] {
  -moz-appearance: textfield; /* Remove as setas em Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640px) {
  .text-base {
    font-size: 0.875rem; /* Reduz tamanho da fonte em telas pequenas */
  }
  .px-3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem; /* Ajusta padding dos botões */
  }
}
