<div class="bg-white min-h-screen">
  <app-header
    [descricao]="descricaoHeader"
    [mostrarBotoesAcao]="telaAtual === 'formulario'"
    [gerarRelatorioDisabled]="!formularioPrecos?.temPrecosPreenchidos()"
    (gerarRelatorioClick)="formularioPrecos?.gerarRelatorio()"
    (limparTudoClick)="formularioPrecos?.limparTudo()"
    (configuracoesClick)="abrirModalConfiguracoes()"
  ></app-header>

  <main class="mx-auto md:max-w-4xl md:px-4 py-6">
    <section *ngIf="telaAtual === 'formulario'" class="animate-fade-in">
      <app-formulario-precos
        #formularioPrecos
        (relatorioGerado)="onRelatorioGerado($event)"
      >
      </app-formulario-precos>
    </section>

    <section
      *ngIf="telaAtual === 'relatorio' && relatorioAtual"
      class="animate-fade-in"
    >
      <app-visualizador-relatorio
        [relatorio]="relatorioAtual"
        (voltarClicado)="voltarParaFormulario()"
      >
      </app-visualizador-relatorio>
    </section>
  </main>
  <app-loading [visivel]="carregando" [mensagem]="mensagemCarregamento">
  </app-loading>

  <!-- Modal de Configurações -->
  @if (mostrarConfiguracoes) {
    <app-configuracoes-categorias (fecharModal)="fecharModalConfiguracoes()"></app-configuracoes-categorias>
  }
</div>
