<div class="bg-gray-50 min-h-screen">
  <app-header [descricao]="descricaoHeader"></app-header>

  <main class="max-w-4xl mx-auto px-4 py-6">
    <section *ngIf="telaAtual === 'formulario'" class="animate-fade-in">
      <app-formulario-precos (relatorioGerado)="onRelatorioGerado($event)">
      </app-formulario-precos>
    </section>

    <section
      *ngIf="telaAtual === 'relatorio' && relatorioAtual"
      class="animate-fade-in"
    >
      <app-visualizador-relatorio
        [relatorio]="relatorioAtual"
        (voltarClicado)="voltarParaFormulario()"
      >
      </app-visualizador-relatorio>
    </section>
  </main>
  <app-loading [visivel]="carregando" [mensagem]="mensagemCarregamento">
  </app-loading>
</div>
